.card {
    float: left;
    width: 200px;
  }
  img{
    height: 200px;
    float: left;
    width: 200px;
    border-radius: 100px;
  }
  div.gallery {
    margin: 5px;
    border: 5px solid rgb(10, 0, 0);
    float: left;
  }

  div.gallery:hover {
    border: 5px solid  #ffffff;
  }



  div.desc {
    padding: 15px;
    text-align: center;
    background: #66ffcc;
  }
  body {
    background-color:#FEE856;
  }
